
hr {
    width: 50px;
}

/* Landing Page */
#header {
    height: 100vh;
    width: auto;
    background-image: url('../images/nashville-lite.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.header-content {
    padding: 100px 0;
    color: rgb(0, 0, 0);
    /* font-size: 1.5rem; */
}

.header-content h1 {
    font-weight: 300;
}

/* About Me */
#about {
    /* border: .5px solid lightgrey; */
    padding: 25px 0;
    background-color: #eff1f1;
}

#about img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 25px auto;
}

.about-text {
    text-align: left;
    margin: 25px 15%;
}

/* Technology Used */
#tech {
    /* border: .5px solid lightgrey; */
    padding: 25px 0;
}

.tech-img-div {
    padding: 25px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#tech img {
    width: 75px;
    height: 75px;
    margin: 50px;
}

/* Portfolio */
#portfolio {
    /* border: .5px solid lightgrey; */
    padding: 25px 0;
    background-color: #eff1f1;
}

.portfolio-card {
   margin: 50px auto;
}

/* Contact */
#contact {
    /* border: .5px solid lightgrey; */
    padding: 25px 0;
}

#contact hr {
    width: 100px;
}

.btn {
    width: 125px;
    margin: 25px 0 50px 0;
}

footer p {
    font-size: .8rem;
    margin: 10px auto;
    color: #fff;
}
