html {
    scroll-behavior: smooth;
}

body {
    position: relative;
}

ul.links {
    font-size: .9em;
}

hr {
    width: 50px;
}

button:focus {
  outline: none;
}

/* Landing Page */
#header {
    height: 100vh;
    width: auto;
    background-image: url('../images/nashville-lite.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.header-content {
    padding: 100px 0;
    color: rgb(0, 0, 0);
    /* font-size: 1.5rem; */
}

.header-content h1 {
    font-weight: 300;
}

/* About Me */
#about {
    /* border: .5px solid lightgrey; */
    padding: 40px 0;
    background-color: #eff1f1;
}

#about img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 25px auto;
}

.about-text {
    text-align: left;
    margin: 25px 5%;
}

/* Technology Used */
#tech {
    /* border: .5px solid lightgrey; */
    padding: 40px 0;
}

.tech-img-div {
    padding: 15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#tech img {
    width: 55px;
    height: 55px;
    margin: 25px 25px 5px 25px;
}

/* Portfolio */
#portfolio {
    /* border: .5px solid lightgrey; */
    padding: 40px 0;
    background-color: #eff1f1;
}

.portfolio-card {
   margin: 40px 0;
}

/* Contact */
#contact {
    /* border: .5px solid lightgrey; */
    padding: 40px 0;
}

#contact hr {
    width: 100px;
}

.socials {
    width: 105px;
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}

.socials i {
    font-size: 2.5em;
    color: slategrey;
}

.socials i:hover {
    color: darkslategrey;
}

footer p {
    font-size: .8rem;
    margin: 10px auto;
    color: #fff;
}

@media only screen and (min-width: 600px) {
    #about {
        padding: 95px 0;
    }

    .about-text {
        margin: 25px 15%;
    }

    #tech {
        padding: 95px 0;
    }

    .tech-image-div {
        padding: 25px;
    }

    #tech img {
        margin: 50px 50px 10px 50px;
    }

    #portfolio {
        padding: 95px 0;
    }

    .portfolio-card {
        margin: 50px auto;
    }

    #contact {
        padding: 95px 0;
    }
}
